<!doctype html>
<html lang="en">

<head>
    <title>CoronaConnect - Fighting against Isolation</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Isolation Chatbot">
    <meta name="keywords" content="isolation, chatbot, connections, coronavirus">
    <meta name="theme-color" content="#FFFFFF">

    <!-- Font -->
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">



    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!-- Themify Icons -->
    <link rel="stylesheet" href="/static/css/themify-icons.css">
    <!-- Owl carousel -->
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
    <!-- Main css -->
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- Chatbot css -->
    <link rel="stylesheet" href="static/css/chatbot.css">
    <!-- Leaflet css -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
      integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
      crossorigin=""/>


</head>

<body>

    <header id="home">
        <!-- <div class="container mt-3 text-left">
            Essential Support for under 25s
        </div> -->

        <div class="col-xs-12 text-center">
              <h2 id="name">MaskGoHere</h2>
            </div>

          <div class="header">
               <h4 id="description">Crowdsourced Interactive Map displaying the Stock of Protective Items across Singapore</h4>
               <p class='longer-description'>As part of the <a href="https://maskgowhere.sg">#BuildforCOVID19</a> initiative was created to assist Singaporeans in critical need of such supplies to acquire them more easily, supported by their fellow Singaporeans. Because in times of crises, we need to support one another right?</p>
               <p class='longer-description'><b>MaskGoHere needs your help to work!</b> Contribute info on <b>new stores</b> and <b>stock updates</b> easily via <b>Telegram: @MaskGoHereBot.</b> Got Feedback? Want to help the project? maskgohere(at)gmail.com</p>
               <!-- <p class='longer-description'></p> -->
        </div>


        <script type="text/javascript">

            var no_of_gifs = 3;

            function search_gify(){
                // Collect user by grabbing the input form's value via id (#)
                var userInput = $('#choices-text-preset-values-1').val().trim();

                // Change the input to suit the API (ie change spaces to +)
                userInput = userInput.replace(/ /g, "+");

                // Create the Giphy API URL
                var queryURL = 'https://api.gfycat.com/v1/gfycats/search?search_text=' + userInput;

                console.log(queryURL);

                // Part 2 - Use AJAX to call GIPHY API (note that the .done() function waits for the API to respond)
                $.ajax({url: queryURL, method: 'GET'}).done(function(response){

                  // This is the API response data. It's a JSON object of 25 gifs
                  console.log(response);

                  var gif_count = 1;

                  // For simplicity, we will take the first gif (ie. at postion 0)
                  for (i = 0; i <response.gfycats.length ; i++){
                    var giphyURL = response.gfycats[i].gifUrl;

                    var giphyTag = 0;

                    if ((response.gfycats[i].tags != null) && (gif_count< 4)){
                        if (response.gfycats[i].tags.length > 0){
                            // giphyTag = response.gfycats[i].tags.join(' ');
                            giphyTag = response.gfycats[i].tags[0];
                            console.log(giphyURL)

                            // Now you can pass that into your "here_is_gif" <img> tag using its id (#)
                            $('#gif_'+gif_count).attr('src', giphyURL);
                            $('#gif_'+gif_count).attr('name', giphyTag);
                            gif_count = gif_count + 1;
                        }
                    }

                  }
            })}

            function submit_giphy_search(element_id){

                var input_search_string = document.getElementById(element_id).name;


                var search_node = document.createElement("input");
                search_node.name='search_string';
                search_node.value=input_search_string;

                document.getElementById('choices-text-preset-values').value= input_search_string;
                document.forms['search_form'].submit();
            }

          </script>


        <div class="container mt-5">
            <div class="s004">
                <form action="/search" method="post" id="search_form">
                    <fieldset>
                    <div class="inner-form">
                        <div class="input-field">
                            <!-- <legend>What are you interested in?</legend> -->
                            <input class="form-control" id="choices-text-preset-values" name="search_string" type="text" placeholder="What are you interested in today? Type to search..." />
                            <button class="btn-search" type="button" onclick="document.forms['search_form'].submit();">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
                            </svg>
                            </button>
                        </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="s004">


                <form id="gif_form">
                    <fieldset>
                    <div class="inner-form">
                        <div class="input-field">
                            <!-- <legend>What are you interested in?</legend> -->
                            <input class="form-control" id="choices-text-preset-values-1" type="text" placeholder="How're you feeling today? Choose a GIF!" />
                            <button class="btn-search" type="button" id='button-search-gif' onclick="search_gify();" >
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
                            </svg>
                            </button>
                        </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="s004" style="max-height: 100px">

                <table>
                    <tr style='max-height: 75px'>
                        <td>
                            <img id='gif_1' style="padding:3px; height: 150px" onclick="submit_giphy_search('gif_1');"/>
                        </td>
                        <td>
                            <img id='gif_2' style="padding:3px; height: 150px" onclick="submit_giphy_search('gif_2');"/>
                        </td>
                        <td>
                            <img id='gif_3' style="padding:3px; height: 150px" onclick="submit_giphy_search('gif_3');"/>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </header>

    <div class="section">
      <div id="chat-column-holder" class="responsive-column content-column">
        <div class="chat-column">
          <div id="scrollingChat"><div class="segments load"><div class="from-watson latest top"><div class="message-inner"><p>Hello, I am the bank's Virtual Agent.</p></div></div></div><div class="segments load"><div class="from-watson latest sub"><div class="message-inner"><p>I can help you with a number of banking tasks:<ul><li><div class="options-list" onclick="ConversationPanel.sendMessage('I want to make a credit card payment');">Making a credit card payment</div></li><li><div class="options-list" onclick="ConversationPanel.sendMessage('I want to book an appointment with a banker');">Booking an appointment with a banker</div></li><li><div class="options-list" onclick="ConversationPanel.sendMessage('Help me choose a credit card');">Choosing a credit card</div></li></ul></p></div></div></div></div>
          <p class="user-typing" id="user-typing-field"></p>
          <label for="textInput" class="inputOutline">
            <input id="textInput" class="input responsive-column" placeholder="Type something" type="text" onkeydown="ConversationPanel.inputKeyDown(event, this)" autofocus="" style="width:100%">
          </label>
          <div class="disclaimer">
            * This system is for demonstration purposes only and is not intended to process Personal Data. No Personal
            Data is to be entered
            into this system as it may not have the necessary controls in place to meet the requirements of the General
            Data Protection
            Regulation (EU) 2016/679.
          </div>
          <div class="disclaimer">
            By using this application, you agree to the&nbsp;
            <a target="_blank" rel="noreferrer noopener" href="https://watson-developer-cloud.github.io/terms?name=Watson%20Assistant%20Demo">
              Terms of Use
            </a>
          </div>
        </div>
      </div>

    <script src="/static/js/extention/choices.js"></script>
    <script>
      var textPresetVal = new Choices('#choices-text-preset-values',
      {
        searchEnabled: false,
        itemSelectText: '',
        silent: true
      });

      var textPresetVal = new Choices('#choices-text-preset-values-1',
      {
        searchEnabled: false,
        itemSelectText: '',
        silent: true
      });

    </script>

    <!-- jQuery and Bootstrap -->
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <!-- Plugins JS -->
    <script src="/static/js/owl.carousel.min.js"></script>
    <!-- Custom JS -->
    <script src="/static/js/script.js"></script>
    <!-- Chatbot JS -->
    <script src="/static/js/common.js"></script>
    <script src="/static/js/api.js"></script>
    <script src="/static/js/conversation.js"></script>
    <script src="/static/js/global.js"></script>


</body>

</html>
